header {
    margin-top: 1rem;
}

i.bi {
  font-size: 1.2rem;
}

li.language {
  background-image: url('../../Images/Languages/DE.png');
  background-repeat: no-repeat;
  padding-left: 1rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 22rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 22rem;
  }