<f:layout name="DefaultLayout"/>

<f:section name="ContentLeft">
    <div class="col-sm-8">
      <f:if condition="{contentMain}">    
         <f:format.raw>{contentMain}</f:format.raw>             
      </f:if>          
    </div>
</f:section>

<f:section name="ContentRight">
    <div class="col-sm-4 blog-sidebar">
      <f:cObject typoscriptObjectPath="lib.menuSide" />
      <f:if condition="{contentSidebar}">    
         <f:format.raw>{contentSidebar}</f:format.raw>             
      </f:if>              
    </div>
</f:section>