<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="float-end"><a href="#top">Nach Oben / XLIFF: {f:translate(key: 'scrolltop', extensionName: 'jbspb_bootswatch')}</a></li>
        <li><a href="https://blog.bootswatch.com/">Bootswatch Blog</a></li>
        <li><a href="https://github.com/thomaspark/bootswatch">Bootswatch GitHub</a></li>
      </ul>
      <p>Erstellt von<a href="https://thomaspark.co/">Thomas Park</a>.</p>
      <p>Code veröffentlicht unter der <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
      <p>Basiert auf <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap v5</a> und  <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. 
          Web fonts von <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
    </div>
  </div>
</footer>